@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #FFCD00;
}

p, output {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #FFCD00;
}

#root {
  height: 100vh;
  width: 100%;
  max-width: 1200px;
}

body {
  display: flex;
  justify-content: center;
}
