@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body #root {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
}

body .navbar {
  background-color: #6f42c1 !important;
}

body .btn-link {
  color: black;
}

body .btn, body .btn-secondary {
  background-color: #6f42c1 !important;
  border-color: #6f42c1 !important;
}

.accordion .card .btn-link {
  background: none !important;
  border: none !important;
}


body .navbar a, body .navbar .navbar-brand {
  color: white;
}

body .violet-frame {
  border: 1px;
  border-color: rgba(0, 0, 255, .2);
  box-shadow: 3px 3px 6px 6px rgba(0, 0, 255, .2);
}

.content-section {
  height: 100vh;
  padding: 80px 20px 125px 20px;
}

body img {
  object-fit: cover;
}

body .alert-success {
    color: #333366;
    background-color: #ccccff;
    border-color: #ccccff;
}
